

html,body{
	width: 100%;
	background-image: url(../img/slider_1_bg_01-min.jpg);
}

.header{
	padding-right: 27px;
	padding-left: 27px;
	
}



.main {

}

.main ul{
	background: red;
}

.main ul li{

}

.main ul li.nutrition {
	background-image: url('watermelon.jpg');


}


..main ul li.nutrition span.secondary {
	display:none;
}
